body {
  background: #cbcba5;
}

.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  font-weight: bold;
  margin: 0 10px 0 0;
}

.image {
  width: 170px;
  height: 120px;
  margin: 5px 0 0 0;
}

.foodBlock {
  border: 1px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin: 5px 0 0 20px;
  width: 360px;
  background: #efefcd;
  border-radius: 4px;
}

.list {
  border: 1px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
  background: #efefcd;
  width: 360px;
}

.foodContainer {
  margin: 60px 0 0 30px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.orderContainer {
  margin: auto auto auto auto;
}

.totalPrice {
  margin: 30px 0 20px 0;
  display: inline-block;
}

.orderList {
  padding: 20px 0 0 0;
}

.orderPrice {
  margin: 0 0 0 8px;
}

.orderCount {
  margin: 0 8px 0 0;
}

.btnDelete {
  margin: 0 0 0 10px;
}
